{% extends 'articles/index.html' %}

{% block title %}
    Edit Article - {{block.super}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12" style="margin-top: 30px;">
    <div class="card">
        <div class="card-content center">
            <form action="{{uarticles.edit_url}}" method="post">
                {% csrf_token %}

                {% for field in form %}
                        {%if field.errors %}
                        <div class="materialert error">
                            <div class="material-icons">error_outline</div>
                            {{field.errors}}
                            <button type="button" class="close-alert">×</button>
                        </div>
                        {%endif%}
                        <div class="input-field col s12">
                            {{field.label}}
                            {{field}}
                        </div>
                {% endfor %}
                <button type="submit" class="btn waves-effect waves-light grey darken-3">Edit<i
                                    class="material-icons right">mode</i></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}